body{
    display: flex;
    flex-direction: column;
}
.header-container {
    background-color: #1f2937;
    color: #f9faf8;
}
.header-maintext{
    font-size: 48px;
    font-weight:bolder;
}
.header-subtext, .links {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}